body {
  background-color: powderblue;
}
h1 {
  color: orange;
}
h4 {
  color: darkgreen;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.option {
  float: left;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.link:hover {
  background-color: #111111;
}
