body {
  font-family: "Work Sans", sans-serif;
  background-color: powderblue;
}
h1 {
  color: orange;
}
h4 {
  color: darkgreen;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  float:left
}

.navlink {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  display: inline
}

.navlink:hover {
  background-color: #111111;
}

.welcomepic {
  width: 100%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}